[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
coverage = "*"
coveralls = "*"
django-autofixture = "*"
faker = "*"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
python-decouple = "*"
django-extensions = "*"
django = "*"
pyjwt = "*"

[requires]
python_version = "3.6"
