[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
coverage = "*"
coveralls = "*"
django-autofixture = "*"
faker = "*"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
python-decouple = "*"
django-extensions = "*"
django = "*"
pyjwt = "*"
drf-yasg = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "==3.3.1"
django-storages = "==1.7.1"
pillow = "*"
boto3 = "*"
celery = "==3.1.18"
redis = "==2.10.6"
locustio = "*"

[requires]
python_version = "3.6"
